<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Tickets - RCSTicketChecker</title>

    <!-- Bootstrap CSS for basic styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      .center-image {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
  </style>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >RCS Ticket Checker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/check_tickets">Check Tickets</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ticketing_summary">Ticketing Summary</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/download2">Download Data</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
   <img src="/static/RCS-Avatar-small.png" alt='logo' class="center-image">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Check Tickets
                    </div>
                    <div class="card-body">
                        {% if get_flashed_messages() %}
                            <div class="alert alert-info" role="alert">
                                {% for message in get_flashed_messages() %}
                                    {{ message }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                          <form method="POST" action="/check_tickets2">
                                <div class="mb-3">
                                    <p>Name: {{ ticket_info.name }}</p>
                                    <p>Total Tickets: {{ ticket_info.total_tickets }}</p>
                                    <p>Allocated Tickets: {{ ticket_info.allocated_tickets }}</p>
                                    <p>Remaining Tickets: {{ ticket_info.total_tickets - ticket_info.allocated_tickets }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="attending">Number of People Attending</label>
                                    <input type="number" class="form-control" id="attending" name="attending" min="-{{ ticket_info.allocated_tickets }}" max="{{ ticket_info.total_tickets - ticket_info.allocated_tickets }}" required>
                                </div>
                                <button type="submit" class="btn btn-success">Update Tickets</button>
                          </form>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery for interaction -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>