<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketing Summary - RCSTicketChecker</title>
    <!-- Bootstrap CSS for basic styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      .center-image {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
  </style>
</head>
<body>
    <!-- Navigation Bar Here -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >RCS Ticket Checker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/check_tickets">Check Tickets</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ticketing_summary">Ticketing Summary</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/download2">Download Data</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
      </div>
   </nav>
   <img src="/static/RCS-Avatar-small.png" alt='logo' class="center-image">
    <div class="container mt-4">
        <h2 class="mb-4">Ticketing Summary by Zone</h2>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Zone</th>
                    <th scope="col">Total Tickets</th>
                    <th scope="col">Allocated Tickets</th>
                    <th scope="col">Remaining Tickets</th>
                </tr>
            </thead>
            <tbody>
                {% for zone, data in ticket_summary.items() %}
                    <tr>
                        <td>{{ zone }}</td>
                        <td>{{ data.total_tickets }}</td>
                        <td>{{ data.allocated_tickets }}</td>
                        <td>{{ data.total_tickets - data.allocated_tickets }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- New section for Source Summary -->
        <h2 class="mb-4">Source Summary</h2>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for source, count in contacts_summary.items() %}
                    <tr>
                        <td>{{ source }}</td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery for interaction -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>